<header class="container headerLib">
  <div class="headerSection">
    <div class="navigation">
      <a class="logo" id="logo" href="../index.html">
        <svg class="svgLogo" width="24" height="24">
          <use href="../image/icons.svg#icon-logo"></use>
        </svg>
        <span class="textLogo">Filmoteka</span>
      </a>
      <ul class="navi">
        <li><a href="../index.html" class="link">HOME</a></li>
        <li class="naviItem naviItemDash">
          <a href="../partials/my-library.html" class="link">MY LIBRARY</a>
        </li>
        <li>
          <a href="#" class="link icon-user">
            <svg class="svgLogo" width="20" height="20">
              <use href="../image/icons.svg#icon-user"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <ul class="ulBtns" id="ulBtns">
      <li><button name="btnWatched" id="btnWatched">WATCHED</button></li>
      <li><button name="btnQueue" id="btnQueue">QUEUE</button></li>
    </ul>
  </div>
</header>