<section class="main-section">
  <ul class="home-film-list"></ul>

  <!-- ------------------------------------- -->
  <!--            PAGINATION                 -->

  <div class="pagination-container">
    <button type="button" class="pagination-button arrows disabled" id="prev">
      <svg width="16" height="16" class="pagination-svg">
        <use href="./image/icons.svg#icon-arrow-left2"></use>
      </svg>
    </button>
    <div id="pagination" class="pagination-numbers"></div>

    <button type="button" class="pagination-button arrows" id="next">
      <svg width="16" height="16" class="pagination-svg">
        <use href="./image/icons.svg#icon-arrow-right2"></use>
      </svg>
    </button>
  </div>
</section>
