<div class="log-window-backdrop">
  <div class="container-log-window log-reg" id="container">
    <button class="log-window-close-btn"><i class="fa-solid fa-x"></i></button>
    <div class="form-container-log-window sign-up-container-log-window">
      <form class="log-window-form" id="signup-form" action="#">
        <h1 class="h1-log-window">Create Account</h1>
        <div class="social-container-log-window">
          <a href="#" class="social-log-window"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-log-window"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social-log-window"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span class="span-log-window">or use your email for registration</span>
        <input class="log-window-input" type="text" placeholder="Name" class="input-log-window" />

        <input class="log-window-input" type="email" id="signup-email" placeholder="Email" class="input-log-window" />
        <input class="log-window-input" type="password" id="signup-password" placeholder="Password"
          class="input-log-window" />
        <button type="submit" class="button-log-window">Sign Up</button>
      </form>
    </div>
    <div class="form-container-log-window sign-in-container-log-window">
      <form class="log-window-form" id="login-form" action="#">
        <h1 class="h1-log-window">Sign in</h1>
        <div class="social-container-log-window">
          <a href="#" class="social-log-window"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-log-window"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social-log-window"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span class="span-log-window">or use your account</span>

        <input class="log-window-input" type="email" id="login-email" placeholder="Email" class="input-log-window" />
        <input class="log-window-input" type="password" id="login-password" placeholder="Password"
          class="input-log-window" />
        <a href="#" class="a-social-log-window">Forgot your password?</a>
        <button type="submit" class="button-log-window">Sign In</button>
      </form>
    </div>
    <button id="logout-btn" class="button-log-window" style="display: none">Logout</button>
    <div class="overlay-container-log-window">
      <div class="overlay-log-window">
        <div class="overlay-panel-log-window overlay-left-log-window">
          <h1 class="h1-log-window">Welcome Back!</h1>
          <p class="p-log-window">
            To keep connected with us please login with your personal info
          </p>
          <button class="button-log-window ghost-log-window" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel-log-window overlay-right-log-window">
          <h1 class="h1-log-window">Hello, Friend!!!</h1>
          <p class="p-log-window">Enter your personal details and start journey with us</p>
          <button class="button-log-window ghost-log-window" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>