<script src="https://kit.fontawesome.com/79ef8c933c.js" crossorigin="anonymous"></script>

<section class="mobile-menu">
    <button class="mobile-nav-btn mobile-nav-open-btn">
        <i class="fas fa-bars"></i>
    </button>
    <div class="mobile-nav mobile-nav-black">
        <div class="mobile-nav mobile-nav-red">
            <div class="mobile-nav mobile-nav-white">
                <button class="mobile-nav-btn mobile-nav-close-btn">
                    <i class="fas fa-times"></i>
                </button>
                <p class="logo-text"><i class="fa-solid fa-film"></i> FILMOTEKA</p>
                <ul class="list">
                    <li><a href="#">Home</a></li>
                    <li class="nav-library"><a href=""><span class="plus-minus"><i class="fa-solid fa-plus"></i></span>
                            My library</a></li>
                    <ul class="library-list nav-hidden">
                        <li><a href="/src/partials/my-library.html">Watched</a></li>
                        <li><a href="/src/partials/my-library.html">Queue</a></li>
                    </ul>

                    <li class="nav-bottom-li mobile-sing-in"><a href="#">Sign In</a></li>
                    <li class="nav-bottom-li mobile-sing-up"><a href="#">Sign Up!</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>