<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <div class="modal-content">
    <ul class="student-list">
      <li class="student">
        <div class="student-picture student-picture_marta"></div>
        <!-- <img src="#" alt="Marta Tabor" class="student-image" /> -->
        <div class="student-info">
          <p class="team-member">Marta Tabor</p>
          <p class="team-member-function">Team Leader</p>
        </div>
      </li>
      <li class="student">
        <div class="student-picture student-picture_mariusz"></div>
        <!-- <img src="#" alt="Mariusz Fit" class="student-image" /> -->
        <div class="student-info">
          <p class="team-member">Mariusz Fit</p>
          <p class="team-member-function">Scrum Master</p>
        </div>
      </li>
      <li class="student">
        <div class="student-picture student-picture_michalg"></div>
        <!-- <img src="#" alt="Michał Górnik" class="student-image" /> -->
        <div class="student-info">
          <p class="team-member">Michał Górnik</p>
        </div>
      </li>
      <li class="student">
        <div class="student-picture student-picture_michalm"></div>
        <!-- <img src="#" alt="Michał Momot" class="student-image" /> -->
        <div class="student-info">
          <p class="team-member">Michał Momot</p>
        </div>
      </li>
      <li class="student">
        <div class="student-picture student-picture_michalw"></div>
        <!-- <img src="#" alt="Michał Wojtyś" class="student-image" /> -->
        <div class="student-info">
          <p class="team-member">Michał Wojtyś</p>
        </div>
      </li>
      <li class="student">
        <div class="student-picture student-picture_monika"></div>
        <!-- <img src="#" alt="Monika Lis" class="student-image" /> -->
        <div class="student-info">
          <p class="team-member">Monika Lis</p>
        </div>
      </li>
      <li class="student">
        <div class="student-picture student-picture_mateusz"></div>
        <!-- <img src="#" alt="Mateusz Dobosz" class="student-image" /> -->
        <div class="student-info">
          <p class="team-member">Mateusz Dobosz</p>
        </div>
      </li>
      <li class="student">
        <div class="student-picture student-picture_szymon"></div>
        <!-- <img src="#" alt="Szymon Paluch" class="student-image" /> -->
        <div class="student-info">
          <p class="team-member">Szymon Paluch</p>
        </div>
      </li>
      <li class="student">
        <div class="student-picture student-picture_mikolaj"></div>
        <!-- <img src="#" alt="Mikołaj Błajek" class="student-image" /> -->
        <div class="student-info">
          <p class="team-member">Mikołaj Błajek</p>
        </div>
      </li>
      <li class="student">
        <div class="student-picture student-picture_wiola"></div>
        <!-- <img src="#" alt="Wiola Domańska" class="student-image" /> -->
        <div class="student-info">
          <p class="team-member">Wiola Domańska</p>
        </div>
      </li>
    </ul>
  </div>
  