@import url("../css/header-home.css");

.headerLib {
    background-image: url(../image/library-background-mobile.jpg);
    min-height: 230px;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .headerLib {
        background: url(../image/library-background-mobile@2x.jpg);

        background-size: cover;
    }
}

.ulBtns {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top:63px;
    
}

.ulBtns button{
    width: 129.53px;
    height: 44px;
    background-color: transparent;
    border-color: var(--color-white, white);
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    color: var(--color-white, white);
    transition: border-color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1);
}

/* .ulBtns button:focus, */
.ulBtns button:hover{
    background-color: var(--color-orange, orange);
    border-color: var(--color-orange, orange);
} 
 
.ulBtns .isActive{
    background-color: var(--color-orange, orange);
    border-color: var(--color-orange, orange);
} 

.buttonActive{
    background-color: var(--color-orange, orange);
    border-color: var(--color-orange, orange);
} 



@media screen and (min-width: 768px) {

    .headerLib {
        background-image: url(../image/library-background-tablet.jpg);
        min-height: 219px;
    }
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .headerLib {
            background: url(../image/library-background-tablet@2x.jpg);
    
            background-size: cover;
        }
    }

    .ulBtns {
        gap: 32px;
        margin-top:40px;
    }

    .ulBtns button {
        width: 147px;
        height: 42px;
    }
}


@media screen and (min-width: 1280px) {

    .headerLib {
        background-image: url(../image/library-background-desktop.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .headerLib {
            background: url(../image/library-background-desktop@2x.jpg);

            background-size: cover;
        }
    }
    .ulBtns {
        gap: 16px;
        margin-top:40px;
    }
}