.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5%;
}

.modal.show {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Modal */

.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 800px;
  height: 70vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-y: auto;
  scrollbar-width: none;
}

/*  Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 1px;
  right: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/*  Students list */
.student-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  column-gap: 10px;
}

.student-list li {
  flex: 0 0 50%;
  max-width: calc(50% - 10px);
  padding: 10px;
}

.student-info {
  padding: 10px;
}

.student-list img {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.student {
  display: flex;
  align-items: center;
}

.student-image {
  margin-right: 20px;
}

.team-member,
.team-member-function {
  margin: 0;
  text-align: left;
}

.team-member {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.team-member:hover {
  color: #ff6b08;
  transition: 0.5s;
}

.team-member-function {
  color: #ff6b08;
  font-size: 16px;
  text-align: left;
}

.student-picture {
  width: 200px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.student-picture_marta {
  background-image: url(../image/marta_tabor.png);
}

.student-picture_michalm {
  background-image: url(../image/michal_momot.png);
}

.student-picture_michalw {
  background-image: url(../image/michal_wojtys.png);
}

.student-picture_mikolaj {
  background-image: url(../image/mikolaj_bialek.jpg);
}

.student-picture_szymon {
  background-image: url(../image/szymon_paluch.jpg);
}

.student-picture_michalg {
  background-image: url(../image/michal-gornik.jpg);
}

.student-picture_wiola {
  background-image: url(../image/wiola-domanska.jpg);
}

.student-picture_monika {
  background-image: url(../image/monika-lis.jpg);
}

.student-picture_mariusz {
  background-image: url(../image/mariusz-fit.jpg);
}

.student-picture_mateusz {
  background-image: url(../image/mateusz-dobosz.jpg);
}

.student-picture_placeholder {
  background-image: url(../image/placeholder.png);
}

@media only screen and (max-width: 767px) {
  .modal-content {
    padding: 20px 0 0 0;
  }

  .student-list li {
    margin-right: 0;

    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .student-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .student-info {
    text-align: center;
    padding: 20px 10px 0 20px;
  }

  .modal-content {
    width: 80%;
  }

  .student-picture {
    width: 200px;
    height: 250px;
    background-size: cover;
  }

  .student {
    flex-direction: column;
    align-items: center;
  }
}
