.pagination-container {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-numbers {
  display: flex;
}

.pagination-button {
  width: 30px;
  height: 30px;
  font-size: 13px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  color: #000;
}

.pagination-button.active {
  background-color: var(--info-color);
  color: #fff;
}

.pagination-span {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.dots {
  display: flex;
  justify-content: center;
  line-height: 34px;
  cursor: auto;
  font-size: 13px;
  text-align: center;
  line-height: 25px;
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  font-weight: normal;
  color: white;
}

.disabled {
  cursor: not-allowed;
}

.arrows.disabled:hover,
.arrows.disabled:focus {
  background-color: #f7f7f7;
}

.arrows:hover,
.arrows:focus {
  background-color: var(--info-color);
}

.arrows:focus .pagination-svg {
  fill: white;
}

.arrows.disabled:focus .pagination-svg {
  fill: #000;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: var(--info-color);
  color: #fff;
}

@media screen and (min-width: 768px) {
  .pagination-container {
    margin: 60px 0;
  }

  .pagination-button {
    width: 40px;
    height: 40px;
    font-size: 100%;
  }

  .pagination-span {
    width: 40px;
    height: 40px;
  }

  .dots {
    font-size: 100%;
    text-align: center;
    line-height: 34px;
  }
}
