@media only screen and (min-width: 1280px) {
  .to-top {
    background: black;
    position: fixed;
    bottom: auto;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: white;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    transform-origin: center;
    z-index: 10;
  }

  .to-top.active {
    top: calc(50% - 16px);
    pointer-events: auto;
    opacity: 1;
  }


  .to-top:hover {
    transform: scale(1.5);
    transition: all .4s;
  }
}

@media only screen and (max-width: 1279px) {
  .to-top {
    display: none;
  }
}
